
/*NAVIGATION BAR*/
nav {
    position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li.right {
    float: right;
}

li.left {
    float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: darkgreen;
    padding: 10px 10px;
    margin: 0;
    font-size: x-large;
}

.dropdown-button {
    padding: 15px;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5px;
    background-color: yellow;
    min-width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-button:link, .link-button:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    margin: 5px 20px 0 20px;

    text-align: center;
    text-decoration: none;
    display: block;
}

.link-button:hover, .link-button:active, input[type="submit"]:hover, input[type="submit"]:active {
    background-color: red;
}

input[type="text"], input[type="password"] {
    width: 100%;

    padding: 10px 0;
    display: block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #f44336;
    color: white;
    padding: 10px 0;

    border: none;
    cursor: pointer;
}

form {
    margin: 5px 20px;
}

.form-label {
    margin-left: 10px;
}
